# session will expire in 30 minutes
SESSION_COOKIE_AGE = 30 * 60
EMAIL_BACKEND = "django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST = "smtp.gmail.com"
EMAIL_USE_TLS = True
EMAIL_PORT = 587
EMAIL_HOST_USER = "test@gmail.com"
EMAIL_HOST_PASSWORD = "pass"