{% extends 'base.html'%}
{%load i18n%}
{% block title %}{%trans 'batch command execute' %}{% endblock %}
{% load staticfiles %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'plugins/xterm/xterm.css' %}"/>
    <link rel="stylesheet" href="{% static 'plugins/jstree/themes/proton/style.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}"/>
    {% endblock %}
    <style>
        body {
            font-family: helvetica, sans-serif, arial;
            font-size: 1em;
            color: #111;
        }

        h1 {
            text-align: center;
        }

        #terminal-container {
            width: 960px;
            height: 600px;
            margin: 0 auto;
            padding: 2px;
        }

        #terminal-container .terminal {
            background-color: #111;
            color: #fafafa;
            padding: 2px;
        }

        #terminal-container .terminal:focus .terminal-cursor {
            background-color: #fafafa;
        }
    </style>
{% block content %}
<div class="row">
  <div class="col-md-3">
    <div class="portlet box box-success" style="overflow:scroll;height: 800px;">
      <div class="portlet-title">
        <div class="caption">
          <a class="text-danger">{%trans 'Server List' %}</a>
        </div>
        <div class="tools">
          <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
          <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
          <a href="javascript:;" class="reload" data-original-title="" title=""> </a>
          <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
        </div>
      </div>
      <div class="portlet-body">
        <form id="search">
          <input type="search" id="q" placeholder="{%trans 'search' %}"/>
          <span>
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </span>
        </form>
        <div id="server_list" class="tree-demo" role="tree"></div>
      </div>
    </div>
  </div>
  <div class="col-md-9">

      <div class="row">
          <div class="col-md-12">
              <p></p>
              <div class="input-group input-group-sm" id="complete">
                  <input class="form-control" type="text" id="autocomplete">
                  <span class="input-group-btn">
                      <button type="button" class="btn btn-info btn-flat" onclick="executecommand();">{% trans 'execute' %}</button>
                    </span>
              </div>
              <p></p>
          </div>
      </div>

    <div class="row" id="terminal-container">

    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'plugins/xterm/xterm.js' %}"></script>
<script src="{% static 'plugins/xterm/addons/fit/fit.js' %}"></script>
<script src="{% static 'plugins/xterm/addons/terminado/terminado.js' %}"></script>
<script src="{% static 'plugins/xterm/addons/fullscreen/fullscreen.js' %}"></script>
<script src="{% static 'plugins/jstree/jstree.js' %}"></script>
<script src="{% static 'plugins/typeahead.js/bootstrap-typeahead.jquery.min.js' %}"></script>

<script type="application/javascript">
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var ws_path = ws_scheme + '://' + window.location.host + '/batchexecute/';
    var terminals = new Object;
    var ws = new WebSocket(ws_path);
    //handle receive data
    ws.onmessage = function (event) {
        json_msg = JSON.parse(event.data);
        switch (json_msg[0]) {
            case "stdout":
                term.write(json_msg[1]);
                break;
            case "disconnect":
                term.write("{% trans '\r\n\r\n[Finished...]\r\n' %}");
                break;
            case "channel_name":
                <!--console.log(json_msg[1]);-->
                var channel_name_attribute = document.createAttribute('channel_name')
                channel_name_attribute.value = json_msg[1];
                element.setAttributeNode(channel_name_attribute)
                break;
        }
    };
    //make_terminal(document.getElementById(tabId), {rows: 40, cols: 90}, ip, id);
    function make_terminal(element, size, ip, id) {
        var term = new Terminal({
            cols: size.cols,
            rows: size.rows,
            screenKeys: true,
            useStyle: true,
            cursorBlink: true,  // Blink the terminal's cursor
        });
        term.open(element, false);
        terminals[element.id] = term;
        //register the terminal
        ws.send(JSON.stringify(["ip", element.id, ip, term.cols, term.rows, id]));
        term.fit();
        //send user input to server
        term.on('data', function (data) {
            ws.send(JSON.stringify(['stdin', data, element.id]));
        });
        //make terminal to full
        term.toggleFullscreen(true);
    };

    $("#server_list").jstree({
        core: {
            themes: {
                name: 'proton',
                responsive: true
                },
            responsive: true,
            check_callback: 0,
            data: [
                {% for command in commands %}
                    {
                        text: "{{ command.name }}",
                        taskname:"{{ command.name }}",
                        children: [
                            {% for group in command.group.all %}
                                {
                                text: "{{ group.name }}",
                                icon: "fa fa-server", 
                                groupname: "{{ group.name }}",
                                taskname: "{{ command.name }}",
                                state: {selected: 0},
                                children:[
                                    {% for server in group.servers.all %}
                                        {% if server.credential.protocol == 'ssh-password' or server.credential.protocol == 'ssh-key' %}
                                        {
                                        text: "{{ server.name }}  {{ server.ip }}  {{ server.hostname }}",
                                        icon: "fa fa-server",
                                        ip: "{{ server.ip }}",
                                        groupname: "{{ group.name }}",
                                        taskname: "{{ command.name }}",
                                        state: {selected: !0},
                                        elementid: "{{ server.gethostname }}",
                                        id: "{{ server.gethostname }}",
                                        serverid: "{{ server.id }}"
                                        },
                                        {% endif %}
                                    {% endfor %}
                                    ],
                                },
                            {% endfor %}
                        ],
                    },
                {% endfor %}
            ],
        },
        types: {
            default: {icon: "fa fa-folder icon-state-warning icon-lg"},
            file: {icon: "fa fa-file icon-state-warning icon-lg"}
        },
        plugins: ["contextmenu", "types", "search", "sort", "checkbox"],
        checkbox: {
            "tie_selection": false
        },
    });
    
    $("#search").submit(function(e) {
        e.preventDefault();
        $("#server_list").jstree(true).search($("#q").val());
    });

    //uncheck server
    $('#server_list')
      // listen for event
      .on('uncheck_node.jstree', function (e, data) {
        //console.log(data);
        var i, j, r = [];
        for(i = 0, j = data.selected.length; i < j; i++) {
          if ( data.instance.get_node(data.selected[i]).original.hasOwnProperty('ip') && data.instance.get_node(data.selected[i]).state.checked == false){
            r.push(data.instance.get_node(data.selected[i]));
            // remove unchecked server
            $("#"+data.instance.get_node(data.selected[i]).original.elementid+"parent").remove();
          }
        }
        //console.log('uncheck',r);
      })
      // create the instance
      .jstree();

    //check server
    $('#server_list')
      // listen for event
      .on('check_node.jstree', function (e, data) {
        var selected = $("#server_list").jstree().get_checked(true);
        var i, j, r = [];
        for(i = 0, j = selected.length; i < j; i++) {
          if ( selected[i].original.hasOwnProperty('ip') ){
            r.push(selected[i]);
            //add checked server
            //console.log(selected[i].parents[0]);
            serverterminal(selected[i].original.text,selected[i].original.elementid,selected[i].original.ip,selected[i].original.serverid,selected[i].original.id);
          }
        }
        //console.log('check',r);
      })
      // create the instance
      .jstree();


    function serverterminal(title,id,ip,serverid,jstreeid) {
        html = '<div class="col-md-6" id="'+id +'parent"'+' jstreeid="'+jstreeid+'">\n' +
            '        <div class="box box-primary">\n' +
            '        <div class="box-header with-border">\n' +
            '        <h3 class="box-title">' + title + '</h3>\n'
        html += '    <div class="box-tools pull-right">\n' +
            '        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>\n' +
            '        </button>\n' +
            '        <button type="button" class="btn btn-box-tool" data-widget="remove" onclick="unchecknode($(this).parents()[3].attributes.jstreeid.nodeValue,$(this).parents()[3].id)"><i class="fa fa-times"></i></button>\n' +
            '    </div>\n' +
            '    </div>\n' +
            '    <div class="box-body">\n' +
            '        <div id="' + id + '" style="height:300px">\n' +
            '        </div>\n' +
            '        </div>\n' +
            '        </div>\n' +
            '\n' +
            '        </div>'
        if ($("#"+id).length <= 0 ){
            $("#terminal-container").append(html);
            //console.log(id);
            make_terminal(document.getElementById(id), {rows: 40, cols: 90}, ip, serverid);
        }
    }


    $("#autocomplete").typeahead({
        loadingAnimation: true,
        fitToElement: false,
        items: 'all',
        source: function (query, process) {
            return $.ajax({
                url: '{% url "batchcommandexecute" %}',
                type: 'post',
                data: {cmd: query},
                success: function (result) {
                    <!--$('#autocomplete').unbind('keydown');-->
                    $('#autocomplete').typeahead('close');
                    return process(result.message);
                },
            });
        }
    });

    function executecommand(){
        alert($("#autocomplete").val());
        var selected = $("#server_list").jstree().get_checked(true);
        var i, j, r = [];
        for(i = 0, j = selected.length; i < j; i++) {
          if ( selected[i].original.hasOwnProperty('ip') ){
            r.push(selected[i]);
          }
        }
        console.log(r);
    };

    $('input').keypress(function (e) {
        if (e.keyCode == 13) {
            executecommand();
            return false;
        }
    });

    function unchecknode(jstreeid,id) {
        $("#server_list").jstree(true).uncheck_node(jstreeid+'_anchor');
        $("#"+id).remove();
    }
</script>
{% endblock %}