{% extends 'base.html'%}
{%load i18n%}
{% block title %}{% trans 'webterminal' %}{% endblock %}
{% load staticfiles %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'plugins/xterm/xterm.css' %}"/>
    <link rel="stylesheet" href="{% static 'plugins/jstree/themes/proton/style.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}"/>
<style>
.ui-front {
    /* make text editor to the front */
    z-index: 9999 !important;
}

 .tab1 {
    height: 800px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  #tab1, #tab2 {
    padding: 20px;
  }

  #tab1 p {
    padding: 0;
  }


  .split p, .split-flex p {
    padding: 20px;
  }

  .split, .split-flex {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;
  }

  .gutter {
    background-color: #eee;

    background-repeat: no-repeat;
    background-position: 50%;
  }

  .gutter.gutter-horizontal {
    background-image: url('{% static "plugins/split.js/img/vertical.png"%}');
    cursor: ew-resize;
  }

  .gutter.gutter-vertical {
    background-image: url('{% static "plugins/split.js/img/horizontal.png"%}');
    cursor: ns-resize;
  }

  .split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
  }
</style>
<link rel="stylesheet" type="text/css" href="{% static "plugins/jquery-ui/jquery-ui.min.css"%}">
<!-- elFinder CSS (REQUIRED) -->
<link rel="stylesheet" type="text/css" href="{% static "plugins/elfinder/css/elfinder.min.css"%}">
    {% endblock %}
{% block content %}
<div class="row tab1">
    <div class="col-md-3 split split-horizontal" id="tab1">
        <div class="portlet box box-success"  style="overflow:scroll;height: 700px;">
            <div class="portlet-title">
                <div class="caption">
                    <a class="text-danger">{% trans 'Server List' %}</a>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                    <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                    <a href="javascript:;" class="reload" data-original-title="" title=""> </a>
                    <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <form id="search">
                    <input type="search" id="q" placeholder="{% trans 'search' %}"/>
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
                <div id="server_list" class="tree-demo" role="tree"></div>
            </div>
        </div>
    </div>
    <div class="col-md-9 split split-horizontal" id="tab2">

        <div class="span2 leftMenu">
            <ul class="nav nav-tabs marginBottom" id="myTab">
                <li class="active ">
                    <a href="#help" class="backgroundRed">{% trans 'help info' %}<button class="close closeTab" type="button" >×</button></a>
                </li>
            </ul>
        </div>
        <div class="tab-content span4">
            <div class="tab-pane active" id="help">{% trans 'help info' %}</div>
        </div>

    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'plugins/xterm/xterm.js' %}"></script>
<script src="{% static 'plugins/xterm/addons/fit/fit.js' %}"></script>
<script src="{% static 'plugins/xterm/addons/terminado/terminado.js' %}"></script>
<script src="{% static 'plugins/xterm/addons/fullscreen/fullscreen.js' %}"></script>
<script src="{% static 'plugins/jstree/jstree.js' %}"></script>
<script src="{% static "plugins/jquery-ui/jquery-ui.js"%}"></script>
<!-- elFinder JS (REQUIRED) -->
<script src="{% static "plugins/elfinder/js/elfinder.min.js"%}"></script>
<script type="text/javascript" src="{% static 'plugins/guacamole/all.min.js' %}"></script>
<!--Ace Editor -->
<script type="text/javascript" src="{% static "plugins/ace/ace.js" %}"></script>
<script type="text/javascript" src="{% static "plugins/ace/ext-modelist.js" %}"></script>
<script type="text/javascript" src="{% static "plugins/ace/ext-settings_menu.js" %}"></script>
<script type="text/javascript" src="{% static "plugins/ace/ext-language_tools.js" %}"></script>
<!--split.js-->
<script type="text/javascript" src="{% static "plugins/split.js/split.min.js" %}"></script>

<script type="application/javascript">


    var currentTab;
    var composeCount = 0;
    //initilize tabs
    $(function () {

        //when ever any tab is clicked this method will be call
        $("#myTab").on("click", "a", function (e) {
            e.preventDefault();

            $(this).tab('show');
            $currentTab = $(this);
        });


        //registerComposeButtonEvent();
        registerCloseEvent('none');
    });


    //this method will register event on close icon on the tab..
    function registerCloseEvent(protocol) {

        $(".closeTab").click(function () {
            var tabContentId = $(this).parent().attr("href");
            //there are multiple elements which has .closeTab icon so close the tab whose close icon is clicked
            if (protocol == 'ssh') {
                var ws = terminals[tabContentId.substr(1)];
                ws.send(JSON.stringify(['close']))
                delete terminals[tabContentId.substr(1)];
            }
            $(this).parent().parent().remove(); //remove li of tab
            $('#myTab a:last').tab('show'); // Select first tab
            $(tabContentId).remove(); //remove respective tab content
        });
    }

    //shows the tab with passed content div id..paramter tabid indicates the div where the content resides
    function showTab(tabId) {
        $('#myTab a[href="#' + tabId + '"]').tab('show');
    }
    //return current active tab
    function getCurrentTab() {
        return currentTab;
    }


    //this will return element from current tab
    //example : if there are two tabs having  textarea with same id or same class name then when $("#someId") whill return both the text area from both tabs
    //to take care this situation we need get the element from current tab.
    function getElement(selector) {
        var tabContentId = $currentTab.attr("href");
        return $("" + tabContentId).find("" + selector);

    }


    function removeCurrentTab() {
        var tabContentId = $currentTab.attr("href");
        $currentTab.parent().remove(); //remove li of tab
        $('#myTab a:last').tab('show'); // Select first tab
        $(tabContentId).remove(); //remove respective tab content
    }

</script>
<script>
    Split(['#tab1', '#tab2'], {
        sizes: [29, 71],
        minSize: 200
    });
</script>
<script type="application/javascript">
    var terminals = new Object;
    function make_terminal(element, size, ws_url, ip, id) {
        var term = new Terminal({
            cols: size.cols,
            rows: size.rows,
            screenKeys: true,
            useStyle: true,
            cursorBlink: true,  // Blink the terminal's cursor
        });
        term.open(element, false);
        term.focus();
        var ws = new WebSocket(ws_url);
        ws.onopen = function (event) {
            terminals[element.id] = ws;
            //set terminal width and height
            term.fit();
            <!--ws.send(JSON.stringify(["set_size", size.rows, size.cols,-->
                <!--term.cols, term.rows]));-->
            term.resize(term.cols, term.rows);
            ws.send(JSON.stringify(["ip", ip,term.cols, term.rows, id]));
            term.on('data', function (data) {
                <!--console.log(data);-->
                ws.send(JSON.stringify(['stdin', data]));
            });

            term.on('title', function (title) {
                document.title = title;
            });

            term.toggleFullscreen(true);
            ws.onmessage = function (event) {
                json_msg = JSON.parse(event.data);
                switch (json_msg[0]) {
                    case "stdout":
                        term.write(json_msg[1]);
                        break;
                    case "disconnect":
                        term.write("{% trans '\r\n\r\n[Finished...]\r\n' %}");
                        break;
                    case "channel_name":
                        <!--console.log(json_msg[1]);-->
                        var channel_name_attribute = document.createAttribute('channel_name')
                        channel_name_attribute.value = json_msg[1];
                        element.setAttributeNode(channel_name_attribute)
                        break;
                }
            };
        };
        return {socket: ws, term: term};
    }

    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var ws_path = ws_scheme + '://' + window.location.host + '/ws/';

</script>
<script type="application/javascript">
    $("#server_list").jstree({
        core: {
            'themes': {
                'name': 'proton',
                'responsive': true
            },
            check_callback: !0,
            data: [
            {% for server_group in server_groups%}
                {
                    text: "{{ server_group.name }}",
                    children: [
                        {% for server in server_group.servers.all %}
                            {
                                text: "{{ server.name }} {{ server.ip }} {{ server.hostname }}",
                                icon: "fa fa-server",
                                ip: "{{ server.ip }}",
                                id: "{{ server.getrandomid }}",
                                oid: "{{ server.id }}",
                                state: {selected: !0},
                                hostname:"{{ server.hostname }}",
                                protocol: "{{ server.credential.protocol }}",
                                elementid: "{{ server.gethostname }}"
                            },
                        {% endfor %}
                    ]
                },
            {% endfor %}
            ]
        },
        types: {
            "default": {icon: "fa fa-folder icon-state-warning icon-lg"},
            file: {icon: "fa fa-file icon-state-warning icon-lg"}
        },
        state: {key: "demo2"},
        plugins: ["contextmenu", "state", "types", "search", "sort"],
        contextmenu: {
            "items": function ($node) {
                var tree = $("#server_list").jstree(true);
                return {
            {% if perms.common.can_connect_serverinfo %}
                    "connect": {
                        "separator_before": false,
                        "separator_after": false,
                        "label": "{% trans 'connect' %}",
                        "icon": "fa fa-play icon-state-warning icon-lg",
                        "action": function (obj) {

                            var tabtext = $node.text; //this is id on tab content div where the
                            var tabId = $node.original.elementid;
                            //get server ip
                            var ip = $node.original.ip;
                            var id = $node.original.oid;
                            var protocol = $node.original.protocol;
                            if (protocol == "ssh-password" || protocol == "ssh-key"){
                                if ($("#"+tabId).length <= 0){
                                    $('.nav-tabs').append('<li><a href="#' + tabId + '"><button class="close closeTab" type="button" >×</button>' + tabtext + '</a></li>');
                                    $('.tab-content').append('<div class="tab-pane responsive" id="' + tabId + '"></div>');
                                    showTab(tabId);
                                    registerCloseEvent('ssh');
                                    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
                                    var ws_path = ws_scheme + '://' + window.location.host + '/ws/';
                                    make_terminal(document.getElementById(tabId), {rows: 37, cols: 90}, ws_path, ip, id);
                                }else {
                                    showTab(tabId);
                                }
                            }else{
                                if ($("#"+tabId).length <= 0){
                                    $('.nav-tabs').append('<li><a href="#' + tabId + '"><button class="close closeTab" type="button" >×</button>' + tabtext + '</a></li>');
                                    <!--$('.tab-content').append('<div class="tab-pane responsive" id="' + tabId + '"></div>');-->
                                    $('.tab-content').append('<div class="tab-pane responsive" id="' +tabId + '"><iframe src="/guacamole/' + id +'/" frameborder="0" scrolling="no" onload="this.height=780;this.width=1030;this.contentWindow.focus();" onmouseover="this.contentWindow.focus();"></iframe>'+ '</div>');
                                    showTab(tabId);
                                    registerCloseEvent('none');
                                    <!--var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";-->
                                    <!--var ws_path = ws_scheme + '://' + window.location.host + '/guacamole/'+id+"/";-->
                                    <!--connect_guacamole(document.getElementById(tabId),ws_path);-->
                                    toastr["warning"]("Rdp and vnc protocol can use left ctrl+shift+alt shortcut to use clipboard function!");
                                }else {
                                    showTab(tabId);
                                }
                            }

                        }
                    },{% endif %}
                    "disconnect": {
                        "separator_before": false,
                        "separator_after": false,
                        "label": "{% trans 'disconnect' %}",
                        "icon": "fa fa-remove icon-state-warning icon-lg",
                        "action": function (obj) {
                            var protocol = $node.original.protocol;
                            if (protocol == "ssh-password" || protocol == "ssh-key") {
                                if ($("#"+$node.text).length >0){
                                    $.ajax({
                                        type: "POST",
                                        url: '{% url 'sshterminalkill' %}',
                                        dataType: "json",
                                        data: {'channel_name':$("#"+$node.text).attr('channel_name')},
                                        success: function (data) {

                                            if (data['status']){
                                                toastr["success"](data['message']);
                                            }
                                        },
                                        failure: function (errMsg) {
                                            toastr["error"](errMsg);
                                        },
                                    });
                                }
                            }else {
                                toastr["error"]("{% trans 'This function hasn\'t finished!' %}");
                            };

                        }
                    },
            {% if perms.common.can_filemanage_serverinfo %}
                    "file_manager": {
                        "separator_before": false,
                        "separator_after": false,
                        "label": "{% trans 'file manager' %}",
                        "icon": "fa fa-file icon-state-warning icon-lg",
                        "action": function (obj) {
                            var tabtext = $node.text; //this is id on tab content div where the
                            //get server ip
                            var ip = $node.original.ip;
                            var tabId = $node.original.elementid;
                            var protocol = $node.original.protocol;
                            if (protocol == "ssh-password" || protocol == "ssh-key") {
                                if ($("#"+tabId + "_file_manager").length <= 0){
                                    $('.nav-tabs').append('<li><a href="#' + tabId + "_file_manager" + '"><button class="close closeTab" type="button" >×</button>' + tabtext + ' file manager' + '</a></li>');
                                    $('.tab-content').append('<div class="tab-pane responsive" id="' + tabId + '_file_manager' + '"></div>');
                                    showTab(tabId+'_file_manager');
                                    registerCloseEvent('none');
                                    file_manager(tabId,$node.original.oid);
                                }else {
                                    showTab(tabId+'_file_manager');

                                }
                            } else if (protocol == "rdp" ) {
                                if ($("#"+tabId + "_file_manager").length <= 0){
                                    $('.nav-tabs').append('<li><a href="#' + tabId + "_file_manager" + '"><button class="close closeTab" type="button" >×</button>' + tabtext + ' file manager' + '</a></li>');
                                    $('.tab-content').append('<div class="tab-pane responsive" id="' + tabId + '_file_manager' + '"></div>');
                                    showTab(tabId+'_file_manager');
                                    registerCloseEvent('none');
                                    rdp_file_manager(tabId,$node.original.oid);
                                }else {
                                    showTab(tabId+'_file_manager');
                                }
                            }else{
                                toastr["error"]("{% trans 'This function hasn\'t finished!' %}");
                            }
                        }
                    },{% endif %}
//                    "Create": {
//                        "separator_before": false,
//                        "separator_after": false,
//                        "label": "Create",
//                        "action": function (obj) {
//                            $node = tree.create_node($node);
//                            tree.edit($node);
//                        }
//                    },
//                        "Remove": {
//                            "separator_before": false,
//                            "separator_after": false,
//                            "label": "delete",
//                            "action": function (obj) {
//                                tree.delete_node($node);
//                            }
//                        },
                };
            }
        }
    }).on('show_contextmenu.jstree', function(e, reference, element) {
        if ( reference.node.parents.length < 2 ) {
            $('.vakata-context').remove();
        }
    }).on('select_node.jstree', function (e, data) {
        setTimeout(function() {
            data.instance.show_contextmenu(data.node)
        }, 100);
    });

    $("#search").submit(function(e) {
        e.preventDefault();
        $("#server_list").jstree(true).search($("#q").val());
    });

    function file_manager(tabId,id) {
        var elemetid = '#'+tabId+'_file_manager';
        var url = '/elfinder/yawd-connector/sftp/'+id+'/';
        elfinderinit(elemetid,url);
        }

    function rdp_file_manager(tabId,id) {
            var elemetid = '#'+tabId+'_file_manager';
            var url = "/elfinder/yawd-connector/default/roots/";
            elfinderinit(elemetid,url);
        }

    function elfinderinit(elemetid,url){
        var loct = window.location.search,
            full_lng, locm, lng;
            // detect language
        if (loct && (locm = loct.match(/lang=([a-zA-Z_-]+)/))) {
                full_lng = locm[1];
        } else {
                full_lng = (navigator.browserLanguage || navigator.language || navigator.userLanguage);
        }
        lng = full_lng.substr(0,2);
        if (lng == 'ja') lng = 'jp';
        else if (lng == 'pt') lng = 'pt_BR';
        else if (lng == 'zh') lng = (full_lng.substr(0,5) == 'zh-tw')? 'zh_TW' : 'zh_CN';
        $(elemetid).elfinder({
                resizable: false,
                height: '100%',
                url : url, // connector URL (REQUIRED)
                lang: lng,                   // language (OPTIONAL)
                <!--uploadMaxChunkSize: 124445261824,-->
                soundPath: "{% static '/elfinder/sounds' %}",
                baseUrl : "{% static 'elfinder/' %}",
                commandsOptions: {
                    edit: {
                        editors : [
                            {
                                // ACE Editor
                                // `mimes` is not set for support everything kind of text file
                                info : {
                                    name : '{% trans 'edit' %}',
                                },
                                load : function(textarea) {
                                    var self = this,
                                        dfrd = $.Deferred(),
                                        cdn  = '{% static "plugins/ace" %}',
                                        init = function() {
                                            start();
                                        },
                                        start = function() {
                                            var editor, editorBase, mode,
                                            ta = $(textarea),
                                            taBase = ta.parent(),
                                            dialog = taBase.parent(),
                                            id = textarea.id + '_ace',
                                            ext = self.file.name.replace(/^.+\.([^.]+)|(.+)$/, '$1$2').toLowerCase(),
                                            // MIME/mode map
                                            mimeMode = {
                                                'text/x-php'              : 'php',
                                                'application/x-php'       : 'php',
                                                'text/html'               : 'html',
                                                'application/xhtml+xml'   : 'html',
                                                'text/javascript'         : 'javascript',
                                                'application/javascript'  : 'javascript',
                                                'text/css'                : 'css',
                                                'text/x-c'                : 'c_cpp',
                                                'text/x-csrc'             : 'c_cpp',
                                                'text/x-chdr'             : 'c_cpp',
                                                'text/x-c++'              : 'c_cpp',
                                                'text/x-c++src'           : 'c_cpp',
                                                'text/x-c++hdr'           : 'c_cpp',
                                                'text/x-shellscript'      : 'sh',
                                                'application/x-csh'       : 'sh',
                                                'text/x-python'           : 'python',
                                                'text/x-java'             : 'java',
                                                'text/x-java-source'      : 'java',
                                                'text/x-ruby'             : 'ruby',
                                                'text/x-perl'             : 'perl',
                                                'application/x-perl'      : 'perl',
                                                'text/x-sql'              : 'sql',
                                                'text/xml'                : 'xml',
                                                'application/docbook+xml' : 'xml',
                                                'application/xml'         : 'xml'
                                            };

                                            // set basePath of ace
                                            ace.config.set('basePath', cdn);

                                            // set base height
                                            taBase.height(taBase.height());

                                            // detect mode
                                            mode = ace.require('ace/ext/modelist').getModeForPath('/' + self.file.name).name;
                                            if (mode === 'text') {
                                                if (mimeMode[self.file.mime]) {
                                                    mode = mimeMode[self.file.mime];
                                                }
                                            }

                                            // show MIME:mode in title bar
                                            taBase.prev().children('.elfinder-dialog-title').append(' (' + self.file.mime + ' : ' + mode.split(/[\/\\]/).pop() + ')');

                                            // TextArea button and Setting button
                                            $('<div class="ui-dialog-buttonset"/>').css('float', 'left')
                                            .append(
                                                $('<button>{% trans 'TextArea' %}</button>')
                                                .button()
                                                .on('click', function(){
                                                    if (ta.data('ace')) {
                                                        ta.removeData('ace');
                                                        editorBase.hide();
                                                        ta.val(editor.session.getValue()).show().focus();
                                                        $(this).text('{% trans 'AceEditor' %}');
                                                    } else {
                                                        ta.data('ace', true);
                                                        editorBase.show();
                                                        editor.setValue(ta.hide().val(), -1);
                                                        editor.focus();
                                                        $(this).text('{% trans 'TextArea' %}');
                                                    }
                                                })
                                            )
                                            .append(
                                                $('<button>{% trans "Ace editor setting" %}</button>')
                                                .button({
                                                    icons: {
                                                        primary: 'ui-icon-gear',
                                                        secondary: 'ui-icon-triangle-1-e'
                                                    },
                                                    text: false
                                                })
                                                .on('click', function(){
                                                    editor.showSettingsMenu();
                                                })
                                            )
                                            .prependTo(taBase.next());

                                            // Base node of Ace editor
                                            editorBase = $('<div id="'+id+'" style="width:100%; height:100%;"/>').text(ta.val()).insertBefore(ta.hide());

                                            // Ace editor configure
                                            ta.data('ace', true);
                                            editor = ace.edit(id);
                                            ace.require('ace/ext/language_tools');
                                            ace.require('ace/ext/settings_menu').init(editor);
                                            editor.$blockScrolling = Infinity;
                                            editor.setOptions({
                                                theme: 'ace/theme/monokai',
                                                mode: 'ace/mode/' + mode,
                                                fontSize: '14px',
                                                wrap: true,
                                                enableBasicAutocompletion: true,
                                                enableSnippets: true,
                                                enableLiveAutocompletion: false
                                            });
                                            editor.commands.addCommand({
                                                name : "{% trans 'saveFile' %}",
                                                bindKey: {
                                                    win : 'Ctrl-s',
                                                    mac : 'Command-s'
                                                },
                                                exec: function(editor) {
                                                    self.doSave();
                                                }
                                            });
                                            editor.commands.addCommand({
                                                name : "{% trans 'closeEditor' %}",
                                                bindKey: {
                                                    win : 'Ctrl-w|Ctrl-q',
                                                    mac : 'Command-w|Command-q'
                                                },
                                                exec: function(editor) {
                                                    self.doCancel();
                                                }
                                            });

                                            editor.resize();

                                            dfrd.resolve(editor);
                                        };

                                    // init & start
                                    init();

                                    return dfrd;
                                },
                                close : function(textarea, instance) {
                                    if (instance) {
                                        instance.destroy();
                                        $(textarea).show();
                                    }
                                },
                                save : function(textarea, instance) {
                                    instance && $(textarea).data('ace') && (textarea.value = instance.session.getValue());
                                },
                                focus : function(textarea, instance) {
                                    instance && $(textarea).data('ace') && instance.focus();
                                },
                                resize : function(textarea, instance, e, data) {
                                    instance && instance.resize();
                                }
                            }
                        ]
                    }
                }
            });
    }
</script>
{% endblock %}
