<html>
<head>
    <style>
      body { background-color: #666; }
    </style>
{% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'plugins/asciinema/asciinema-player.css' %}" />
</head>
<body>
  <asciinema-player src="{{logpath}}"></asciinema-player>
  <script src="{% static 'plugins/asciinema/asciinema-player.js' %}"></script>
<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);

  (function() {
    var u="//193.112.194.114:8002/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);

    // Add this code below within the Matomo JavaScript tracker code
    // Important: the tracker url includes the /piwik.php
    var secondaryTracker = 'http://ssh.yygzs.cn:8002/piwik.php';
    var secondaryWebsiteId = 77;
    // Also send all of the tracking data to this other Matomo server, in website ID 77
    _paq.push(['addTracker', secondaryTracker, secondaryWebsiteId]);
    // That's it!

    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->    
</body>
</html>
