<html>
<head>
    <style>
      body { background-color: black; }
    </style>
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'plugins/asciinema/asciinema-player.css' %}" />
</head>
<body>
  <asciinema-player src="{{logpath}}"></asciinema-player>
  <script src="{% static 'plugins/asciinema/asciinema-player.js' %}"></script>


<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//193.112.194.114:8002/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

  
</body>
</html>
