<html>
<head>
    <style>
      body { background-color: #666; }
    </style>
{% load staticfiles %}
{%load i18n%}
<!--termianl css-->
<link rel="stylesheet" href="{% static 'plugins/xterm/xterm.css' %}"/>
</head>
<body>
    <div id="terminal_monitor"> </div>
</body>
<!-- jQuery 2.2.3 -->
<script src="{% static "plugins/jQuery/jquery-2.2.3.min.js" %}"></script>
<script src="{% static 'plugins/xterm/xterm.js' %}"></script>
<script src="{% static 'plugins/xterm/addons/fit/fit.js' %}"></script>
<script src="{% static 'plugins/xterm/addons/terminado/terminado.js' %}"></script>
<script src="{% static 'plugins/xterm/addons/fullscreen/fullscreen.js' %}"></script>
<script type="application/javascript">
    $(document).ready(function () {
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var ws_path = ws_scheme + '://' + window.location.host + '/monitor/' + 'monitor-' + '{{object.log}}';
        make_terminal(document.getElementById('terminal_monitor'), {rows: {{object.height}}, cols: {{object.width}}}, ws_path);
    })
    function make_terminal(element, size, ws_url) {
        var term = new Terminal({
            cols: size.cols,
            rows: size.rows,
            screenKeys: true,
            useStyle: true,
            cursorBlink: true,  // Blink the terminal's cursor
        });
        term.open(element, false);
        var ws = new WebSocket(ws_url);
        ws.onopen = function (event) {
            //set terminal width and height
            <!--term.fit();-->
            term.resize(term.cols, term.rows);
            <!--term.on('data', function (data) {-->
                <!--<!--console.log(data);-->-->
                <!--ws.send(JSON.stringify(['stdin', data]));-->
            <!--});-->

            <!--term.on('title', function (title) {-->
                <!--document.title = title;-->
            <!--});-->

            term.toggleFullscreen(true);
            ws.onmessage = function (event) {
                json_msg = JSON.parse(event.data);
                switch (json_msg[0]) {
                    case "stdout":
                        term.write(json_msg[1]);
                        break;
                    case "disconnect":
                        term.write("{% trans '\r\n\r\n[Finished...]\r\n' %}");
                        break;
                }
            };
        };
        return {socket: ws, term: term};
    }
</script>
</html>