{% extends 'base.html'%}
{% block title %}webterminal{% endblock %}
{% load staticfiles %}
{% block css%}
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-select/css/bootstrap-select.css' %} ">
    <link rel="stylesheet" href="{% static 'plugins/json-forms/css/brutusin-json-forms.css' %} ">
{%endblock%}
{% block content %}
<div class="wrapper-content">
    <div class="row">


        <div class="col-lg-10">
            <div class="content float-e-margins">
                <div class="content">
                    <form action="" class="form-horizontal nice-validator n-yellow form" id="table" method="post" novalidate="novalidate">

                        <div id='container1' class="table" ></div>


                        <div class="col-sm-4 col-sm-offset-5">
                            <button  onclick="alert(JSON.stringify(bf.getData(), null, 4))" class="btn btn-primary pull-center"> submit </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'plugins/markdown/markdown.js' %} "></script>
<script src="{% static 'plugins/bootstrap-select/js/bootstrap-select.js' %} "></script>
<script src="{% static 'plugins/bootstrap-select/js/i18n/defaults-en_US.js' %} "></script>
<script src="{% static 'plugins/json-forms/js/brutusin-json-forms.js' %} "></script>
<script src="{% static 'plugins/json-forms/js//brutusin-json-forms-bootstrap.js' %} "></script>
    <script type="application/javascript">
        var BrutusinForms = brutusin["json-forms"];
        BrutusinForms.bootstrap.addFormatDecorator("inputstream", "file", "glyphicon-search", function (element) {
            alert("user callback on element " + element)
        });
        BrutusinForms.bootstrap.addFormatDecorator("color", "color");
        BrutusinForms.bootstrap.addFormatDecorator("date", "date");
var schema =     {
    "type": "object",
    "properties": {
        "commands": {
            "type": "array",
            "title": "commands",
            "minItems": 1,
            "uniqueItems": true,
            "items": {
                "description": "Input the command you need to execute",
                "type": "string",
            }
        },
    }
};
var BrutusinForms = brutusin["json-forms"];
var bf = BrutusinForms.create(schema);
var container = document.getElementById('container1');
bf.render(container, null);
    </script>
{% endblock %}