{% extends 'base.html'%}
{% block title %}create credential{% endblock %}
{% load staticfiles %}
{% block css%}
<link rel="stylesheet" href="{% static 'plugins/bootstrap-select/css/bootstrap-select.css' %} ">
<link rel="stylesheet" href="{% static 'plugins/json-forms/css/brutusin-json-forms.css' %} ">
<link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}"/>
{%endblock%}
{% block content %}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="box box-success">
                <div class="box-header with-border">
                    <div class="caption">
                        <button class="btn btn-success" onclick="window.location.href = '{% url 'credentiallist' %}'">
                            Return Credential List
                        </button>
                    </div>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-wrench"></i></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">

                    <div class="row">

                        <div class="col-lg-10">
                            <div class="content float-e-margins">
                                <div class="content">
                                    <form action="{% url 'credentialcreate' %}"
                                          class="form-horizontal nice-validator n-yellow form" id="table"
                                          method="post" novalidate="novalidate">
                                        {% csrf_token %}
                                        <div id='container1' class="table"></div>


                                        <div class="col-sm-4 col-sm-offset-5">
                                            <button type="submit" id="submit" class="btn btn-primary pull-center">
                                                submit
                                            </button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>

    </div>
{% endblock %}
{% block js %}
<script src="{% static 'plugins/markdown/markdown.js' %} "></script>
<script src="{% static 'plugins/bootstrap-select/js/bootstrap-select.js' %} "></script>
<script src="{% static 'plugins/bootstrap-select/js/i18n/defaults-en_US.js' %} "></script>
<script src="{% static 'plugins/json-forms/js/brutusin-json-forms.js' %} "></script>
<script src="{% static 'plugins/json-forms/js//brutusin-json-forms-bootstrap.js' %} "></script>
<script type="application/javascript">
    var schema = {
        "type": "object",
        "properties": {
            "name": {
                "type": "string",
                'title': "credential name",
                "description": "credential name",
                "required": true,
                "minLength": 1,
                "maxLength": 40,
            },
            "username": {
                "type": "string",
                'title': "username",
                "description": "username name",
                "required": true,
                "minLength": 1,
                "maxLength": 40,
            },
            "port": {
                "type": "number",
                'title': "port",
                "description": "port number",
                "required": true,
                "default": 22,
            },
            "method": {
                "type": "string",
                'title': "method",
                "description": "method",
                "required": true,
                "default": "password",
                "enum":[
                    "password",
                    "key",
                ]
            },
            "password": {
                "dependsOn": [
                    "method",
                ]
            },
            "key": {
                "dependsOn": [
                    "method",
                ]
            },
            "proxy": {
                "type": "boolean",
                "title": "proxy",
                "description": "enable proxy",
                "default": false,
                "properties": {
                    "enabled": {
                        "type": "boolean",
                        "title": "Enabled"
                    },
                },
                "required": [
                    "enabled"
                ]
            },
            "proxyserverip": {
                "dependsOn": [
                    "proxy",
                ]
            },
            "proxyport": {
                "dependsOn": [
                    "proxy",
                ]
            },
            "proxypassword": {
                "dependsOn": [
                    "proxy",
                ]
            },
        }
    };

    function resolver (names, data, cb) {
        var schemas = new Object();
        var schema = new Object();
        var proxyserveripschema = new Object();
        var proxyportschema = new Object();
        var proxypasswordschema = new Object();
        if (data.method === "password") {
            schema.type = "string";
            schema.title = "password";
            schema.format = "password";
            schema.required = true;
            schema.maxLength = 40 ;
        }else {
            schema.type = "string";
            schema.title = "key";
            schema.format = "text";
            schema.required = true;
        }
        if ( data.proxy ) {
            proxyserveripschema.type = "string";
            proxyserveripschema.title = "proxy server ip";
            proxyserveripschema.format = "ipv4";
            proxyserveripschema.required = true;

            proxyportschema.type = "number";
            proxyportschema.title = "proxy port";
            proxyportschema.required = true;

            proxypasswordschema.type = "string";
            proxypasswordschema.title = "proxy password";
            proxypasswordschema.format = "password";
            proxypasswordschema.required = false;

        } else {
            proxyserveripschema.type = "null";
            proxyportschema.type = "null";
            proxypasswordschema.type = "null";

        }

        schemas["$.password"] = schema;

        schemas["$.proxyserverip"] = proxyserveripschema;
        schemas["$.proxyport"] = proxyportschema;
        schemas["$.proxypassword"] = proxypasswordschema;

        setTimeout(function(){cb(schemas)},500); // in order to show asynchrony
    }


    var BrutusinForms = brutusin["json-forms"];
    BrutusinForms.bootstrap.addFormatDecorator("inputstream", "file", "glyphicon-search", function (element) {
        alert("user callback on element " + element)
    });
    BrutusinForms.bootstrap.addFormatDecorator("date", "date");
    BrutusinForms.bootstrap.addFormatDecorator("password", "password");
    BrutusinForms.bootstrap.addFormatDecorator("ipv4", "ipv4");
    var bf = BrutusinForms.create(schema);
    bf.schemaResolver = resolver;
    var container = document.getElementById('container1');
    bf.render(container, null);

    $("#submit").on('click', function (e) {
        e.preventDefault();
        var jsondata = bf.getData();
        jsondata["action"] = "create";
        if (bf.validate()) {
            $.ajax({
                type: "POST",
                url: "{% url 'credentialcreate' %}",
                data: JSON.stringify(jsondata, null, 4),
                dataType: "json",
                success: function (data) {
                    if(data.status){
                        toastr["success"](data.message);
                        setTimeout(function () {
                            location.reload();
                        },2000);
                    } else {
                        toastr["error"](data.message);
                    }
                },
                failure: function (errMsg) {
                    toastr["error"](errMsg);
                }
            });
        }
    });
</script>
{% endblock %}