{% extends 'base.html'%}
{% load staticfiles %}
{%load i18n%}
{%block title%}{%trans 'Credential list' %}{%endblock%}
{% block css %}
<link rel="stylesheet" href="{% static 'plugins/bootstrap-select/css/bootstrap-select.css' %} ">
<link rel="stylesheet" href="{% static 'plugins/json-forms/css/brutusin-json-forms.css' %} ">
<!-- DataTables css -->
<link rel="stylesheet" href="{% static "plugins/datatables/dataTables.bootstrap.css" %}">
<link rel="stylesheet" href="{% static "plugins/json-view/jquery.jsonview.min.css" %}">
{% endblock %}
{% block content %}
<div class="box-body">
    <table id="commands_list" class="table table-hover table-striped">
        <thead>
        <tr>
            <th>{%trans 'name' %}</th>
            <th>{%trans 'username' %}</th>
            <th>{%trans 'port' %}</th>
            <th>{%trans 'action' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for element in object_list %}
        <tr>
            <td>{{ element.name }}</td>
            <td>{{ element.username }}</td>
            <td class="json">{{ element.port}}</td>
            <td data-editable="false" class="text-center pull-left">
                <a class="btn btn-xs btn-primary" onclick="detail({{element.id}})">{%trans 'detail' %}</a>
                <a class="btn btn-xs btn-info" onclick="edit({{element.id}})">{%trans 'edit' %}</a>
                <a class="btn btn-xs btn-danger" onclick="del({{element.id}},'{{element.name}}')">{%trans 'delete' %}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'plugins/markdown/markdown.js' %} "></script>
<script src="{% static 'plugins/bootstrap-select/js/bootstrap-select.js' %} "></script>
<script src="{% static 'plugins/bootstrap-select/js/i18n/defaults-en_US.js' %} "></script>
<script src="{% static 'plugins/json-forms/js/brutusin-json-forms.js' %} "></script>
<script src="{% static 'plugins/json-forms/js//brutusin-json-forms-bootstrap.js' %} "></script>
<!-- DataTables -->
<script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "plugins/datatables/dataTables.bootstrap.min.js" %}"></script>
<script src="{% static "plugins/json-view/jquery.jsonview.min.js" %}"></script>
<script src="{% static "plugins/bootbox/bootbox.js" %}"></script>
<script type="application/javascript">
    $(function () {
        $('#commands_list').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "iDisplayLength": 50,
            "autoWidth": false,
        });
    });
</script>
<script type="application/javascript">
    function detail(id) {
        var dialog = bootbox.dialog({
            title: 'Credential detail',
            message: '<p><i class="fa fa-spin fa-spinner"></i> Loading...</p>'
        });
        dialog.init(function(){
            $.ajax({
                url: '{% url 'credentialdetailapi' %}',
                type: 'POST',
                data: {'id':id},
                success: function(data, textStatus, jqXHR) {
                    dialog.find('.bootbox-body').html("<div id='container'></div>");
                    generateform(data.message,true);
                },
                error: function(data, textStatus, jqXHR) {
                    toastr['error'](data);
                }
            });
        });
    }
    function edit(id) {
        var dialog = bootbox.confirm({
            title: 'Credential detail',
            message: '<p><i class="fa fa-spin fa-spinner"></i> Loading...</p>',
            buttons: {
                confirm: {
                    label: 'submit',
                    className: 'btn-danger'
                },
                cancel: {
                    label: 'cancel',
                    className: 'btn-success'
                }
            },
            callback: function (result) {
                if (result){
                    if ($.gbf.validate()) {
                        var jsondata = $.gbf.getData();
                        jsondata["action"] = "update";
                        jsondata["id"] = id;
                        $.ajax({
                            type: "POST",
                            url: "{% url 'credentialcreate' %}",
                            data: JSON.stringify(jsondata, null, 4),
                            dataType: "json",
                            success: function (data) {
                                if(data.status){
                                    toastr["success"](data.message);
                                    setTimeout(function () {
                                        location.reload();
                                    },2000);
                                } else {
                                    toastr["error"](data.message);
                                }
                            },
                            failure: function (errMsg) {
                                toastr["error"](errMsg);
                            }
                        });
                    }
                }
            }
        });
        dialog.init(function(){
            $.ajax({
                url: '{% url 'credentialdetailapi' %}',
                type: 'POST',
                data: {'id':id},
                success: function(data, textStatus, jqXHR) {

                    dialog.find('.bootbox-body').html("<div id='container'></div>");
                    generateform(data.message,false);
                },
                error: function(data, textStatus, jqXHR) {
                    toastr['error'](data);
                }
            });
        });
    };
    function del(id,name) {
        var dialog = bootbox.confirm({
            title: "<a class='text-danger'>"+'delete credential name ' + name +"</a>",
            message: 'Are you sure to delete credential ' + name +' ?',
            buttons: {
                confirm: {
                    label: 'delete',
                    className: 'btn-danger'
                },
                cancel: {
                    label: 'cancel',
                    className: 'btn-success'
                }
            },
            callback: function (result) {
                if (result){
                    $.ajax({
                        type: "POST",
                        url: "{% url 'credentialcreate' %}",
                        data: JSON.stringify({"id":id,"action":'delete',"name":name}),
                        dataType: "json",
                        success: function (data) {
                            if(data.status){
                                toastr["success"](data.message);
                                setTimeout(function () {
                                    location.reload();
                                },2000);
                            } else {
                                toastr["error"](data.message);
                            }
                        },
                        failure: function (errMsg) {
                            toastr["error"](errMsg);
                        }
                    });
                }
            }
        });
    };
    function generateform(data,readonly) {
        if (readonly){
            var schema = {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        'title': "credential name",
                        "description": "credential name",
                        "required": true,
                        "minLength": 1,
                        "maxLength": 40,
                        "readOnly": true
                    },
                    "username": {
                        "type": "string",
                        'title': "username",
                        "description": "username name",
                        "required": true,
                        "minLength": 1,
                        "maxLength": 40,
                        "readOnly": true
                    },
                    "port": {
                        "type": "number",
                        'title': "port",
                        "description": "port number",
                        "required": true,
                        "default": 22,
                        "readOnly": true
                    },
                    "method": {
                        "type": "string",
                        'title': "method",
                        "description": "method",
                        "required": true,
                        "default": "password",
                        "enum": [
                            "password",
                            "key",
                        ],
                        "readOnly": true
                    },
                    "password": {
                        "dependsOn": [
                            "method",
                        ],
                        "readOnly": true
                    },
                    "key": {
                        "dependsOn": [
                            "method",
                        ],
                        "readOnly": true
                    },
                    "proxy": {
                        "type": "boolean",
                        "title": "proxy",
                        "description": "enable proxy",
                        "default": false,
                        "properties": {
                            "enabled": {
                                "type": "boolean",
                                "title": "Enabled"
                            },
                        },
                        "required": [
                            "enabled"
                        ],
                        "readOnly": true
                    },
                    "proxyserverip": {
                        "dependsOn": [
                            "proxy",
                        ],
                        "readOnly": true
                    },
                    "proxyport": {
                        "dependsOn": [
                            "proxy",
                        ],
                        "readOnly": true
                    },
                    "proxypassword": {
                        "dependsOn": [
                            "proxy",
                        ],
                        "readOnly": true
                    },
                }
            };
        }else {
            var schema = {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        'title': "credential name",
                        "description": "credential name",
                        "required": true,
                        "minLength": 1,
                        "maxLength": 40,
                    },
                    "username": {
                        "type": "string",
                        'title': "username",
                        "description": "username name",
                        "required": true,
                        "minLength": 1,
                        "maxLength": 40,
                    },
                    "port": {
                        "type": "number",
                        'title': "port",
                        "description": "port number",
                        "required": true,
                        "default": 22,
                    },
                    "method": {
                        "type": "string",
                        'title': "method",
                        "description": "method",
                        "required": true,
                        "default": "password",
                        "enum": [
                            "password",
                            "key",
                        ]
                    },
                    "password": {
                        "dependsOn": [
                            "method",
                        ]
                    },
                    "key": {
                        "dependsOn": [
                            "method",
                        ]
                    },
                    "proxy": {
                        "type": "boolean",
                        "title": "proxy",
                        "description": "enable proxy",
                        "default": false,
                        "properties": {
                            "enabled": {
                                "type": "boolean",
                                "title": "Enabled"
                            },
                        },
                        "required": [
                            "enabled"
                        ]
                    },
                    "proxyserverip": {
                        "dependsOn": [
                            "proxy",
                        ]
                    },
                    "proxyport": {
                        "dependsOn": [
                            "proxy",
                        ]
                    },
                    "proxypassword": {
                        "dependsOn": [
                            "proxy",
                        ]
                    },
                }
            };
        }


        function resolver(names, data, cb) {
            var schemas = new Object();
            var schema = new Object();
            var proxyserveripschema = new Object();
            var proxyportschema = new Object();
            var proxypasswordschema = new Object();
            if (data.method === "password") {
                schema.type = "string";
                schema.title = "password";
                schema.format = "password";
                schema.required = true;
                schema.maxLength = 40;
            } else {
                schema.type = "string";
                schema.title = "key";
                schema.format = "text";
                schema.required = true;
            }
            if (readonly){
                schema.readOnly = true;
            };
            if (data.proxy) {
                proxyserveripschema.type = "string";
                proxyserveripschema.title = "proxy server ip";
                proxyserveripschema.format = "ipv4";
                proxyserveripschema.required = true;

                proxyportschema.type = "number";
                proxyportschema.title = "proxy port";
                proxyportschema.required = true;

                proxypasswordschema.type = "string";
                proxypasswordschema.title = "proxy password";
                proxypasswordschema.format = "password";
                proxypasswordschema.required = false;
                if (readonly){
                    proxyserveripschema.readOnly = true;
                    proxyportschema.readOnly = true;
                    proxypasswordschema.readOnly = true;
                };

            } else {
                proxyserveripschema.type = "null";
                proxyportschema.type = "null";
                proxypasswordschema.type = "null";

            }

            schemas["$.password"] = schema;

            schemas["$.proxyserverip"] = proxyserveripschema;
            schemas["$.proxyport"] = proxyportschema;
            schemas["$.proxypassword"] = proxypasswordschema;

            setTimeout(function () {
                cb(schemas)
            }, 500); // in order to show asynchrony
        };


        var BrutusinForms = brutusin["json-forms"];
        BrutusinForms.bootstrap.addFormatDecorator("inputstream", "file", "glyphicon-search", function (element) {
            alert("user callback on element " + element)
        });
        BrutusinForms.bootstrap.addFormatDecorator("date", "date");
        BrutusinForms.bootstrap.addFormatDecorator("password", "password");
        BrutusinForms.bootstrap.addFormatDecorator("ipv4", "ipv4");
        var bf = BrutusinForms.create(schema);
        $.gbf = bf;
        bf.schemaResolver = resolver;
        var container = document.getElementById('container');
        bf.render(container, data);
    }
</script>
{% endblock %}